page-team {

	.team-header { 			height:250px; background: url("../assets/img/registreren-achtergrond.jpg"); background-position:center center; background-size: cover;
		h1 {				color: white; text-align: center;}
	}

	#setting {				font-size: 20pt; color: #437fbc; padding-top: 10px; padding-left: 10px;}
	
	#points {				color: #437fbc; text-align: right; font-size: 20pt; padding-top: 10px; padding-right: 20px;
	}

	#ranking {				text-align: center; border: 3px solid #fcc838; border-radius: 100px; height: 117px;
		h1 {				margin: 0px; line-height: 98px; }
	}

}
