page-challenge {       margin: 0px;

  .container {         width: 100%; height: 200px; background: url("../assets/img/photo5.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center;}
  .container1 {        width: 100%; height: 200px; background: url("../assets/img/photo2.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center;}
  .container2 {        width: 100%; height: 200px; background: url("../assets/img/photo1.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center;}
  .container3 {        width: 100%; height: 200px; background: url("../assets/img/photo3.png"); background-size: cover; background-repeat: no-repeat; background-position: center center;}
  .container4 {        width: 100%; height: 200px; background: url("../assets/img/photo6.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center;}
  .container5 {        width: 100%; height: 200px; background: url("../assets/img/photo7.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center;}

}
